
/* Global Button Styles */
button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Back Button */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1001;
}

.back-button i {
  font-size: 18px;
}

/* Audio Guide Container */
.audio-guide-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #C18454;
  padding: 20px;
  position: relative;
}

/* Stop Items Section */
.stops-section {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 70px;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  overflow-x: hidden;
}

/* Stop Card */
.stop-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
}

.stop-card h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
  flex-grow: 1;
  text-align: center;
}

.stop-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* View Toggle Button */
.view-toggle-button {
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 1001;
}

/* Map Container */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.map-container img {
  max-width: 100%;
  height: auto;
}

.map-container area {
  cursor: pointer;
}
.transcript p {
  white-space: pre-wrap;
  text-align: justify;
}

/* Transition Section */
.transition-section {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: scale(0.95);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  pointer-events: none;
}

.transition-section.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

/* Responsive Design */
@media (max-width: 600px) {
  .stop-card {
    width: 90%;
  }
}
