
.audio-player-wrapper {
  cursor: pointer;
}

.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.track-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  border-radius: 20px;
}

.audio-player .rhap_controls-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  order: -1;
}

.audio-player .rhap_main-controls {
  gap: 25px;
}

.audio-player .rhap_additional-controls,
.audio-player .rhap_controls-section .rhap_volume-controls {
  display: none !important;
}

.audio-player .rhap_progress-bar {
  margin-top: 5px;
  background-color: #555;
}

.audio-player .rhap_progress-section {
  padding-bottom: 10px;
}

.audio-player .rhap_container {
  background-color: #333 !important;
  padding: 2px;
  box-shadow: none !important;
}

.audio-player .rhap_time {
  color: #fff;
  font-size: 14px;
  margin: 0 10px;
}

.audio-player-wrapper.expanded .audio-player {
  height: 90%;
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.track-image {
  max-width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.transcript {
  padding: 10px;
  background-color: #444;
  color: #fff;
  max-height: calc(100% - 60px);
  overflow-y: auto;
  display: none;
}

.audio-player-wrapper.expanded .transcript {
  display: block;
}

.track-info .track-title {
  padding-left: 10px;

}

.closed-captions-icon {
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  margin-right: 10px;
}

.closed-captions-icon, .close-icon { 
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  margin-right: 10px;
}
