/* src/components/LanguageSelector.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}
.language-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #C18454;
  position: absolute;
  overflow: hidden;
}


.logo-box {
  position: relative; /* Relative to parent container */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 65px;
  padding-bottom: 20px;
}

.language-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 100px;
  animation: floatIn 1s ease-out; /* Add animation */
}

.language-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 120px; /* Adjust width for mobile */
  height: 150px; /* Adjust height for mobile */
  position: relative;
}

.language-card .flag {
  width: 80px; /* Adjust size for mobile */
  height: auto;
  margin-bottom: 10px; /* Space between flag and language name */
  outline: 3px solid #ddd;
}

.language-name {
  font-size: 16px;
  font-weight: bold;
}

.language-card:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .language-cards {
    justify-content: space-evenly; /* Ensure cards are evenly spaced */
  }

  .language-card {
    width: 30%; /* Make sure two cards fit next to each other */
    height: auto; /* Adjust height if needed */
    margin-bottom: 10px; /* Add some space between rows */
  }

  .language-card .flag {
    width: 60px; /* Adjust size for mobile */
    height: 40px;
  }

  .language-name {
    font-size: 14px; /* Adjust font size for mobile */
  }
}

/* Keyframes for floating in from the bottom */
@keyframes floatIn {
  0% {
    transform: translateY(50px); /* Start from 50px below */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* End at normal position */
    opacity: 1;
  }
}
@keyframes shrinkLogo {
  0% {
    transform: scale(1); /* Initial scale */
  }
  100% {
    transform: scale(0.99); /* Final scale (95% of the original size) */
  }
}

.shrink-logo {
  animation: shrinkLogo 0.5s ease-out forwards; /* Apply shrinking animation */
}
